<div class="container__big-card">
  <div class="big-card__photo">
    <img src="https://placehold.co/600x450" alt="">
  </div>
  <div class="big-card__title">
    <h2>
      <a href="#">Saiu a nova versão do blog</a>
    </h2>
  </div>
  <div class="big-card__description">
    <p><a href="#">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Excepturi dignissimos itaque odio quis animi. Debitis, fugiat repudiandae consequatur corporis sunt nobis nihil voluptatibus a enim non quam, exercitationem libero possimus.</a></p>
  </div>
</div>
